* {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }

    font-family: 'sf';

    & li {
        list-style-type: none;
    }



}


@font-face {
    font-family: 'play';
    src: url(/fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: 'sf';
    src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.containerPromo {
    max-width: 1920px;
}

.promo__wrap {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    & .video {
        position: relative;
        padding-bottom: 56.25%;

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
    }

    &__content {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h1 {
            margin-bottom: 20px;
            color: #FFFFFF;
            font-size: 40px;
            font-family: 'play';
            cursor: pointer;
        }

        & img {
            max-width: 200px;
        }

        & ul {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            flex-direction: column;

            & li {
                text-decoration: none;
                list-style-type: none;
                color: white;
                font-size: 18px;
                margin-bottom: 2%;
            }
        }



        & button {
            border: none;
            padding: 12px 70px;
            border-radius: 15px;
            font-size: 23px;
            background: rgb(91, 30, 93);
            color: rgb(197, 163, 18);
            cursor: pointer;
        }

        & button:hover {
            transition: 1s;
            background: rgb(197, 163, 18);
            color: rgb(91, 30, 93);
        }
    }

}

.promo__wrap::after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.compound {
    background: #F5F5F5;
    border-bottom: 2px solid rgb(91, 30, 93);


    &__wrap {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 70px;


        & h2 {
            font-family: 'play';
            font-size: 40px;
            text-align: center;
            margin-right: 3%;
            color: rgb(91, 30, 93);
        }

        &__content {
            display: flex;
            gap: 8%;
            align-items: center;
            justify-content: center;

            & img {
                cursor: pointer;
            }

            & span {
                color: black;
            }

            & img:hover {
                filter: brightness(75%);
                transition: 1s;
            }

            & .left {
                &__item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    justify-self: end;
                    flex-direction: column;
                }
            }

            & .center {
                & .product {
                    max-width: 200px;
                }
            }

            & .right {
                &__item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    flex-direction: column;

                }
            }
        }

        & button {

            justify-self: center;
            align-self: center;
            border: none;
            padding: 12px 60px;
            margin-right: 2%;
            border-radius: 15px;
            font-size: 23px;
            background: rgb(91, 30, 93);
            color: rgb(228, 189, 14);
            cursor: pointer;
        }

        & button:hover {
            transition: 1s;
            background: rgb(228, 189, 14);
            color: rgb(91, 30, 93);
        }


    }
}

.reviews {
    background: #F5F5F5;
    padding-bottom: 90px;
    border-bottom: 2px solid rgb(91, 30, 93);

    &__wrap {
        position: relative;
        padding-top: 90px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        & h3 {
            font-size: 35px;
            font-family: 'play';
            color: rgb(91, 30, 93);
            margin-bottom: 60px;
        }

        & .carousel {
            &__wrap {
                position: relative;
                overflow: hidden;
                max-width: 630px;

                &__content {
                    position: relative;
                    left: 0;
                    display: flex;
                    transition: 1s;

                    &__item {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        justify-content: center;

                        & .text {
                            max-width: 600px;

                            & h4 {
                                font-size: 25px;
                                margin-bottom: 10px;
                            }

                            & p {
                                font-size: 20px;
                                width: 417px;
                            }


                            & .thirdText {
                                max-width: 362px;
                            }
                        }
                    }
                }
            }

            & .btnLeft {
                position: absolute;
                left: 14%;
                top: 63%;
                cursor: pointer;
            }

            & .btnLeft:hover {
                transition: 1s;
                filter: brightness(50%);
            }

            & .btnRight {
                position: absolute;
                right: 19%;
                top: 63%;
                cursor: pointer;
            }

            & .btnRight:hover {
                transition: 1s;
                filter: brightness(50%);
            }


        }





        & button {
            border: none;
            background: transparent;
            cursor: pointer;
        }

        & button:hover {
            transition: 1s;
            filter: brightness(50%);
        }

    }
}

.promoTwo {

    &__wrap {
        display: flex;
        gap: 20px;
        padding-top: 40px;

        & img {
            background: transparent;
        }

        & .description {
            display: flex;
            flex-direction: column;

            & h5 {

                font-family: 'play';
                font-size: 30px;
                text-align: center;
                margin-bottom: 10px;
                color: rgb(91, 30, 93);

            }

            & p {
                font-size: 25px;
                text-align: center;
                color: rgb(91, 30, 93);
            }

            & ul {
                & li {
                    font-size: 20px;
                    margin-bottom: 15px;
                    text-align: center;
                    color: rgb(91, 30, 93);
                }
            }

            & button {
                margin-top: 10px;
                justify-self: center;
                align-self: center;
                border: none;
                padding: 12px 60px;
                margin-left: 5%;
                border-radius: 15px;
                font-size: 23px;
                background: rgb(91, 30, 93);
                color: rgb(228, 189, 14);
                cursor: pointer;
            }

            & button:hover {
                transition: 1s;
                background: rgb(228, 189, 14);
                color: rgb(91, 30, 93);
            }
        }
    }
}

.order {

    .promotion__timer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;

        & h6 {
            font-family: 'play';
            font-size: 50px;
            color: rgb(91, 30, 93);
        }



        & .timer {
            margin-top: 30px;
            display: flex;
            gap: 50px;
            align-items: center;
        }

        & .timer__block {
            width: 102px;
            height: 120px;
            background: #fff;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
            font-size: 16px;
            font-weight: 300;
            text-align: center;

            & span {
                display: block;
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 56px;
                font-weight: 700;
                color: rgb(91, 30, 93);
            }
        }
    }

    .makeOrder {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;

        & .productPrice {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                max-width: 150px;
                margin-top: 30px;
            }

            & .price {
                display: flex;
                flex-direction: column;

                & p {
                    color: black;
                    position: relative;
                    font-size: 15px;
                    margin-left: 19%;
                    margin-top: -6%;
                    cursor: pointer;
                }

                & p:hover {
                    transition: 1s;
                    color: gray;
                }

                & p::after {

                    content: "";
                    border-bottom: 1px solid red;
                    position: absolute;
                    transform: rotate(-8deg);
                    width: 79%;
                    left: 1px;
                    top: 31%;
                    height: 25%;
                }

                & span {
                    color: rgb(91, 30, 93);
                    font-size: 25px
                }

                & span:hover {
                    transition: 1s;
                    color: rgb(228, 189, 14);
                    cursor: pointer;
                    transform: scale(1.2);
                }

                ;
            }

        }

        & form {
            position: relative;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            padding: 70px 40px;
            border-radius: 15px;

            & input {
                padding: 10px 30px;
                border: 2px solid rgb(91, 30, 93);
                border-radius: 30px;
                margin-bottom: 20px;
                background: rgb(233, 239, 247);
                outline: none;
            }


            & .btn {
                background: rgb(91, 30, 93);
                color: rgb(228, 189, 14);
                text-transform: capitalize;
                font-size: 20px;
                cursor: pointer;
                margin-bottom: 0;
                border: none;
            }

            & .btn:hover {
                background: rgb(228, 189, 14);
                color: rgb(91, 30, 93);
                transition: 1s;
            }



            & input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }


            & input {
                position: relative;
                cursor: pointer;
            }

            & label {
                margin-bottom: 10px;
                color: rgb(91, 30, 93);
            }

            ::placeholder {
                color: rgb(91, 30, 93);
                font-size: 10px;
                position: absolute;
                right: 7%;
                top: 6%;
                opacity: 0;
            }

            & input:focus::placeholder {
                opacity: 1;
            }

        }
    }


}

@media(max-width:1000px) {
    .promo {
        &__wrap {
            &__content {
                & img {
                    max-width: 150px;
                }
            }
        }
    }

    .reviews {
        &__wrap {
            & .carousel {
                & .btnLeft {
                    left: 0;
                    top: 70%;
                }

                & .btnRight {
                    right: 0;
                    top: 72%;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .promo {
        &__wrap {
            &__content {
                & h1 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                & img {
                    max-width: 130px;
                }

                & ul {
                    gap: 0;
                }

                & li {
                    font-size: 15px;
                    margin-bottom: 0;
                }

                & button {
                    padding: 10px 50px;
                }
            }
        }
    }

    .reviews {
        &__wrap {
            & h3 {
                font-size: 30px;
            }

            & .carousel {
                &__wrap {
                    &__content {
                        &__item {
                            & .text {
                                & h4 {
                                    font-size: 20px;
                                }

                                & p {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .btnLeft{
                    top: 100%;
                    left: 40%;
                }

                .btnRight{
                    top: 100%;
                    right: 40%;
                }
            }
        }
    }

    .promoTwo {
        &__wrap {
            & .description {
                & h5 {
                    font-size: 25px;
                }

                & p {
                    font-size: 18px;
                }

                & li {
                    font-size: 16px;
                    margin-right: 7%;
                }

                & button {
                    font-size: 21px;
                    padding: 10px 40px;
                    margin-left: 17%;
                }
            }
        }
    }

    .order {
        & .promotion__timer {
            & h6 {
                font-size: 40px;
            }

            & .timer {
                &__block {
                    height: 111px;

                    & span {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media(max-width:480px) {
    .promo {
        &__wrap {
            &__content {
                & h1 {
                    font-size: 20px;

                }

                & img {
                    max-width: 80px;
                }

                & ul {
                    margin-top: 2%;
                    margin-bottom: 2%;

                    & li {
                        font-size: 10px;
                    }
                }



                & button {
                    padding: 6px 40px;
                    font-size: 12px;
                }
            }
        }
    }

    .compound {
        &__wrap {
            padding-top: 40px;
            padding-bottom: 40px;

            & h2 {
                font-size: 20px;
            }

            &__content {
                gap: 4%;

                & span{
                    font-size: 14px;
                }

                & .left {
                    &__item {
                        & .component {
                            width: 60%;
                        }
                    }
                }

                & .center {
                    & .product {
                        max-width: 140px;
                    }
                }

                & .right {
                    &__item {
                        & .componentRight {
                            width: 50%;
                        }
                    }
                }


            }

            & button {
                padding: 10px 50px;
                font-size: 15px;
                margin-right: 5%;
            }
        }
    }

    .reviews {
        padding-bottom: 50px;

        &__wrap {
            padding-top: 50px;

            & h3 {
                font-size: 20px;
                margin-bottom: 30px;
            }

            & .carousel {
                &__wrap {
                    max-width: 333px;

                    &__content {
                        &__item {
                            & img {
                                width: 140px;
                            }

                            & .text {
                                & h4 {
                                    font-size: 20px;
                                }

                                & p {
                                    width: 180px;
                                    font-size: 10px;
                                }


                            }
                        }
                    }
                }

                & .btnLeft {
                    top: 66%;
                    left: 0;

                    & img {
                        width: 80%;
                    }

                    ;
                }

                & .btnRight {
                    top: 66%;
                    right:0;

                    & img {
                        width: 80%;
                    }

                    ;
                }

            }
        }
    }

    .promoTwo {
        &__wrap {
            & img {
                width: 60%;
                height: 60%;
            }

            & .description {
                & h5 {
                    font-size: 20px;
                }

                & p {
                    font-size: 12px;
                }

                & ul {
                    margin-top: 4%;
                    padding: 0;
                    margin-bottom: 4%;


                    & li {
                        font-size: 10px;
                        margin-bottom: 3px;
                    }
                }

                & button {
                    font-size: 14px;
                    padding: 10px 36px;
                    margin-left: 0;
                }

            }
        }
    }

    .order {
        & .promotion__timer {
            margin-top: 25px;

            & h6 {
                font-size: 30px;
            }

            & .timer {
                gap: 40px;

                &__block {
                    height: 100px;

                    & span {
                        font-size: 25px;
                    }
                }
            }


        }

        & .makeOrder {
            & .productPrice {
                & img {
                    max-width: 100px;
                }

                & .price {
                    & span {
                        font-size: 18px;
                    }

                    & p {
                        font-size: 11px;
                    }
                }
            }

            & form {
                padding: 50px 20px;

                & label {
                    margin-bottom: 5px;
                    font-size: 12px;
                }

                & input {
                    padding: 6px 8px;
                    margin-bottom: 10px;
                }

                & .btn {
                    font-size: 12px;
                }
            }
        }
    }
}

@media(max-width:375px) {
    .promo {
        &__wrap {
            &__content {
                & h1 {
                    font-size: 16px;
                }

                & img {
                    max-width: 60px;
                }

                & ul {
                    & li {
                        font-size: 8px;
                    }
                }

                & button {
                    font-size: 10px;
                }
            }
        }
    }

    .compound {
        &__wrap {
            & h2 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            &__content {

                & .left{
                    &__item{
                        & .component{
                            width: 50%;
                        }
                    }
                }
                & span {
                    font-size: 9px;
                }

                & .product {
                    max-width: 120px;
                }

            }

            & button {
                padding: 10px 50px;
                font-size: 12px;
                margin-right: -1%;
                margin-top: 3%;
            }
        }
    }

    .reviews {
        &__wrap {
            & h3 {
                font-size: 16px;
            }

            & .carousel {
                &__wrap {
                    max-width: 312px;

                    &__content {
                        &__item {
                            & img {
                                width: 120px;
                            }

                            & .text {
                                & h4 {
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }

                                & p {
                                    font-size: 9px;
                                }


                            }
                        }
                    }
                }

                & .btnLeft {
                    left: 40%;
                    top: 100%;

                    & img {
                        width: 60%;
                    }
                }

                & .btnRight {
                    top: 100%;
                    right: 30%;

                    & img {
                        width: 60%;
                    }
                }
            }
        }
    }

    .promoTwo {
        &__wrap {
            & .description {
                & h5 {
                    font-size: 16px;
                }

                & p {
                    font-size: 10px;
                }

                & li {
                    font-size: 8px;
                }

                & button {
                    font-size: 10px;
                    padding: 8px 30px;
                    margin-left: -4%;
                    margin-top: 2px;
                }
            }
        }
    }

    .order {
        & .promotion__timer {
            & .timer {
                gap: 15px;
            }
        }
    }
}